<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689202071103-eejvr36ca3ocfbvn254f5q9k3e84gi59.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689202071103-eejvr36ca3ocfbvn254f5q9k3e84gi59</string>
	<key>API_KEY</key>
	<string>AIzaSyDIM0XIuL2o3Y1c7H8LlRQKmXzodIW2q1U</string>
	<key>GCM_SENDER_ID</key>
	<string>689202071103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sushmoy.todoAppCleanArchitecture</string>
	<key>PROJECT_ID</key>
	<string>xo-todo</string>
	<key>STORAGE_BUCKET</key>
	<string>xo-todo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689202071103:ios:d21c1d04776026f7421a8a</string>
</dict>
</plist>